$white: #fff;
$black: #000;
$black0pasity: rgba(0, 0, 0, 0.8);
$green: #1ed400;
$green0pasity: rgba(30, 212, 0, 0.4);

$Lato: 'Lato', sans-serif;
$Lora: 'Lora', serif;
$Quicksand: 'Quicksand', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;

